PUBLIC_API_URL=https://dashboard.conhilodepilo.localhost/api/
PUBLIC_RETURN_URL=https://landing.conhilodepilo.localhost/
PUBLIC_SUCCESS_URL=https://landing.conhilodepilo.localhost/success
PUBLIC_STRIPE_API_URL=https://dashboard.conhilodepilo.localhost/api/
PUBLIC_STRIPE_USER=your-user
PUBLIC_STRIPE_IMAGE_URL=https://landing.conhilodepilo.localhost/favicon.svg
NIXPACKS_NIXPKGS=nodejs_20,npm-9_x
NIXPACKS_NODE_VERSION=20
