DEBUG=False
SECRET_KEY=your-secret-key-for-prod
ALLOWED_HOSTS=your-production-domain.com
CORS_ALLOWED_ORIGINS=https://your-production-domain.com
CSRF_TRUSTED_ORIGINS=https://your-production-domain.com
HOST=https://your-production-domain.com

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=your_prod_db_name
DB_USER=your_prod_db_user
DB_PASSWORD=your_prod_db_password
DB_HOST=your_prod_db_host
DB_PORT=5432

# Email Settings
EMAILS_NOTIFICATIONS=your-email@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-password
EMAIL_USE_SSL=True

# Core Identity
COMPANY_NAME="Your Company Name"
TIME_ZONE=Europe/Madrid
LANGUAGE_CODE=es

# Integrations
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GOOGLE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=

# Storage (AWS)
STORAGE_AWS=True
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_PROJECT_FOLDER=
AWS_S3_CUSTOM_DOMAIN=
